<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enterprise</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/font-face.css">
</head>
<body>
    <div class="document">
        <div class="cover">
            <div class="page">
                <div class="cover-text">
                    <div class="cover-text-upper">
                        <div class="white-chip">PROJECT 07 | ENTERPRISE</div>
                        <div class="cover-text-upper-title">
                            <div>Candlestick</div>
                            <div>Factory</div>
                        </div>
                    </div>
                    <div class="cover-text-lower">
                        <div class="cover-text-lower-subtitle">
                            XAUUSD
                        </div>
                        <div class="cover-text-lower-p">
                            Trading View ✕ Forex Factory
                        </div>
                        <div class="cover-text-lower-p">
                            1 Jan 22 - 1 May 23 TF-1D
                        </div>
                        <div class="cover-text-lower-micro">
                            Photo by David Billings on Unsplash
                        </div>
                        <div class="cover-text-lower-micro"></div>
                    </div>
                </div>
                <div class="cover-background">
                    <img src="{{url_for('static', filename='image/cover.jpg')}}">
                </div>
            </div>
        </div>
        <div class="content">
            {% for content_page in content_pages %}
                <div class="page">
                    <div class="content-wrapper">
                        <div class="content-header">
                            <div>PROJECT 07 | ENTERPRISE</div>
                            <span>{{content_page[0] + 1}}</span>
                        </div>
                        <div class="content-text">
                            <div class="content-date">
                                {{content_page[1]['start_date']}} - {{content_page[1]['end_date']}}
                            </div>
                            <div class="content-date-micro">
                                20{{content_page[1]['year']}} Week {{content_page[1]['week']}}
                            </div>
                            <div class="content-chart">
                                <div class="content-text-h1">
                                    Candlestick Chart
                                </div>
                                <div class="content-chart-image">
                                    <img src="{{url_for('static', filename='data/' + content_page[1]['candle'])}}">
                                </div>
                            </div>
                            <div class="content-table">
                                <div class="content-text-h1">
                                    Forex Factory
                                </div>
                                <div class="content-table-table">
                                    {{ content_page[1]['forex'] | safe }}
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>