<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enterprise</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/font-face.css">
</head>
<body>
    <div class="pages">
        <div class="cover">
            <!-- <div class="cover-content">
                <div class="cover-content-upper">
                    07 | ENTERPRISE
                </div>
                <div class="cover-content-lower">
                    <div class="cover-content-title">
                        XAUUSD
                    </div>
                    <div class="cover-content-p">
                        <span class="white-chip">1D</span> 1 Jan 22 - 1 May 23
                    </div>
                </div>
            </div>
            <div class="cover-background">

            </div> -->
        </div>
        <div class="content">
            {% for birthday in birthday_output %}
                a
            {% endfor %}
        </div>
    </div>
</body>
</html>